<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<script>
var all_hotels = eval('(<%= get_hotels %>)');
var all_restaurants = eval('(<%= get_restaurants %>)');
var all_thingstodo = eval('(<%= get_thingstodo %>)');
</script>
