
<br><br>
<script>

var all_hotels = <%= get_hotels %>;
var all_restaurants = <%= get_restaurants %>;
var all_thingstodo = <%= get_thingstodo %>;

var map;
function initialize_gmaps() {

  // initialize new google maps LatLng object
  var myLatlng = new google.maps.LatLng(40.705786,-74.007672);

  // set the map options hash
  var mapOptions = {
    center: myLatlng,
    zoom: 16,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  // get the maps div's HTML obj
  var map_canvas_obj = document.getElementById("map-canvas");

  // initialize a new Google Map with the options
  map = new google.maps.Map(map_canvas_obj, mapOptions);

  // Add the marker to the map
  var marker = new google.maps.Marker({
    position: myLatlng,
    title:"Hello World!"
  });

  // Add the marker to the map by calling setMap()
  marker.setMap(map);
}



$(document).ready(function() {

  initialize_gmaps();

  $('#hotel_add').on('click', function() {
    var selectedHotelId = $('#hotels option:selected').attr('value');
    var selectedHotel = all_hotels[selectedHotelId];
    $('.day-plan > #hotel').append('<li>'+selectedHotel["name"]+'</li>');

    var myLatLng = new google.maps.LatLng(parseFloat(selectedHotel["lat"]), parseFloat(selectedHotel["lon"]));
    var marker = new google.maps.Marker({
      position: myLatLng,
      title: selectedHotel["name"]
    });
  marker.setMap(map);

  });


  $('#things_add').on('click', function() {
    var selectedThingId = $('#things option:selected').attr('value');
    var selectedThing = all_things[selectedThingId];
    $('.day-plan > #things').append('<li>'+selectedThing+'</li>');

    var myLatLng = new google.maps.LatLng(parseFloat(selectedThing["lat"]), parseFloat(selectedThing["lon"]));
    var marker = new google.maps.Marker({
      position: myLatLng,
      title: selectedThing["name"]
    });
  marker.setMap(map);
  });


  $('#rest_add').on('click', function() {
    var selectedRestaurant = $('#restaurants').val();
    $('.day-plan > #restaurant').append('<li>'+selectedRestaurant+'</li>')
  });


});

</script>






  <div class="row">
          <div class="col-md-4 day-plan">
            <h2>Plan for Day 1</h2>

            <ul id="hotel">
              <h4>Hotel</h4>
            </ul>

             <ul id="restaurant">
              <h4>Restaurants</h4>
            </ul>

             <ul id="things">
              <h4>Things to Do</h4>
            </ul>
          </div>


 <!-- this is the google map   -->
      <div id="map-canvas"/>
      </div>
